body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(media/preguntasfrecuentes-icono.jpg); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.075); /* Fondo semitransparente para las preguntas y respuestas */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.034);
    width: 80%; /* Ancho del contenedor */
}

h1 {
    text-align: center;
}

.qa {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semitransparente para cada pregunta y respuesta */
}

.accordion-button {
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: left;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.answer {
    display: none;
    padding: 10px;
}